@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 100rem;
  margin-right: auto;
  margin-left: auto;
}

body {
  margin: 0;
  padding: 0;
  background-color: #3b264d;
  line-height: 1.6;
}

/* obecne styly pro elementy */
p,
h2,
h4 {
  text-align: center;
  color: #ffffff;
  display: block;
}

/* styly pro navigaci */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 40px;
  background-color: #3b264d;
  box-shadow: 3px 4px 10px #00000040;
}

.logo {
  width: 2ex;
  margin-bottom: 0;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px auto;
  max-width: 600px;
  display: flex;
  align-items: center;
}

li {
  margin-bottom: 10px;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 1.5rem;
}

a:hover {
  color: #9c2780;
}

/* styly pro stránku O projektu*/

.container_kojoradce {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 20px;
}

.img_breastfeeding_mother {
  max-width: 25%;
}

.user {
  max-width: 50%;
  border-radius: 3%;
}

.about_project {
  text-align: justify;
  max-width: 50%;
  margin: auto;
}

/* o nas */

.team {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.team__card {
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  width: 300px;
}

.team__card-image {
  width: 70%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.team__card-title {
  font-size: 1.5em;
  margin: 10px 0;
}

.team__card-link {
  text-decoration: none;
  color: inherit;
}

.team__card-icon {
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .team {
    flex-direction: column;
    align-items: center;
  }

  .team__card {
    width: 90%;
  }

  .team__card-image {
    width: 50%;
  }
}

/* index */

.container-form,
.greet-container,
.container-content {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
  width: 100%;
  text-align: left;
}

input {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  background: transparent;
}

button {
  padding: 10px 20px;
  background-color: #9c2780;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: purple;
}

/* text, ktery se vlozi pomoci js po submitu jmena */

.jsText {
  margin: 30px; /* Adds space above and below the text */
  padding: 20px; /* Adds space inside the text container */
  text-align: center;
  opacity: 0;
  animation: fadeIn 2s forwards;
  line-height: 1.6;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
